body {
  margin: 40px 0;
  color: #222;
  font: normal 14px/1.5 'PT Sans';
  text-rendering: optimizeLegibility;
}

a {
  border-bottom: thin solid rgba(0,0,0,.3);
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: none;
}

img {
  max-width: 100%;
}


.page-header {
  margin: 0 0 1em;
  font-size: 16px;
}

.page-logo {
  border-bottom: none;
  font-weight: bold;
}


.services-links {
  margin-bottom: 1em;
}

.services-links ul {
  display: inline-block;
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

.services-links li {
  display: inline-block;
  margin-right: .5em;
}


.item-title {
  border-bottom: none;
  font-weight: bold;
}

.item-preview {
  border-bottom: none;
}


.item-placeholder {
  opacity: 0.3;
}

.item-placeholder img {
  width: 100%;
  height: 200px;
}

.item-placeholder h2 {
  display: inline-block;
  font-size: inherit;
}

/**
 * Grid.
 */

.container {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin: auto;
  padding: 0 10px;
}

.item {
  margin: 0 0 40px;
}

@media (min-width: 641px) {
  .container {
    overflow: hidden;
    padding: 0;
  }

  .item {
    float: left;
    width: 300px;
    margin: 0 10px 40px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .container {
    width: 640px;
  }

  .item:nth-child(2n + 1) {
    clear: both;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .container {
    width: 960px;
  }

  .item:nth-child(3n + 1) {
    clear: both;
  }
}

@media (min-width: 1281px) {
  .container {
    width: 1280px;
  }

  .item:nth-child(4n + 1) {
    clear: both;
  }
}
